*{
  background-color: ;
}

.body-style{
  background-color:
}

.mynav {
  h1{
    font-size: 70px;
    color: green;
  }
}

.section-div{
  padding-top: 400px;
  padding-bottom: 400px;
}

h1{
  padding-top: 50px;
}
