*{
  font-family: sans-serif;
}
.welcome{
  height: 500px;
  width: 500px;
  position: fixed;
  top: 100px;
  left: 350px;
  z-index: 10000;
  background-color: green;
}

.body-style{
  background-color:
}

.mynav {
  h1{
    font-size: 70px;
    color: green;
  }
}

.enlarge:hover {
	transform:scale(2,2);
	transform-origin:0 0;

}

#git-icon{

}

.section-div{
  padding-top:
  padding-bottom:

}
.section-div img{
  height: 20px;
}

h1{
  padding-top: 50px;
}

#About{

}

#Portfolio{

}

#Contact-Me{

}
.project-canvas:hover{
  opacity: 1;
  background-color: green;
}

#under-construction{
  height:100px;
  width:100px;
}
.img-wrap:hover #under-construction{
  background-image:url(images/smiles.png);
  width:150px;
  height:150px;


}
.img-wrap{
  height: 100px;
  width: 400px;
}

 .img-description{ /*will be completely invisible until user hovers */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  padding-right:100px


}

.img-wrap:hover .img-description{
  visibility: visible;
  opacity: 1;
  padding-top: 50px;
  font-size: 20px;
  color: rgb(217, 217, 217);
  font-style: oblique;
}


.portrait-wrapper{
    float: right;

}
 #portrait{
   border: 10px solid black;
   margin:  20px;
   height: 500px;
  float: right;



}

.about-text{
display: inline;
  height: 800px
}

.about-text p{
  display: inline;
  text-align: left;

}
.submit-form{
  border: solid 2px grey;
  /* z-index: -10; */

}
